= form_for @tuktuk do |f|
  - if @tuktuk.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tuktuk.errors.count, "error")} prohibited this tuktuk from being saved:"
      %ul
        - @tuktuk.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :number_plate
    = f.text_field :number_plate
  .field
    = f.label :phone_number
    = f.text_field :phone_number
  .field
    = f.label :stage
    = f.text_field :stage
  .field
    = f.label :status
    = f.check_box :status
  .actions
    = f.submit 'Save'
